<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banner Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-banner">
            <h3 class="c-banner--title">بوابة الدفع عبر البايبال متاحة في منطقتك</h3>
            <p class="c-banner--desc">تمت إضافة طريقة الدفع عبر بايبال تستسيع تسجيل الدخل لتتمكن من استقبال اموالك عبرها</p>
            <a href="#" class="c-btn c-btn--transparent c-banner--action">اكتشف المزيد</a>
            <i class="c-icon c-icon--flag c-banner--icon"></i>
            <i class="c-icon c-icon--cancel-circle c-banner--close js-banner-close"></i>
        </div>
    </div>
</body>
</html>