.page-header{
    display: flex;
    align-items: baseline;
    margin: spacing("wide") 0;

    .c-btn{
        margin: 0 spacing();
        &:first-of-type{
            margin-right: spacing("wide");
        }
    }
}