.c-btn{
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: $color-content;
    background-color: $color-white;
    text-align: center;
    padding: 8px 16px;
    border: 1px solid darken($color-white, 15%);
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(darken($color-white, 30%), 0.05);
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    &:focus{
        outline: none;
        border: 2px solid $color-primary;
    }
    &:hover{
        background-color: darken($color-white, 3%);
    }
}

.c-btn--primary{
    color: $color-white;
    background-color: $color-primary;
    border-color: darken($color-primary, 5%);
    &:hover{
        background-color: darken($color-primary, 5%);
    }
    &:focus{
        border-color: darken($color-primary, 10%);
    }
}

.c-btn--delete{
    color: $color-white;
    background-color: $color-red;
    border-color: darken($color-red, 5%);
    &:hover{
        background-color: darken($color-red, 5%);
    }
}

.c-btn--transparent{
    color: $color-content;
    background-color: transparent;
    border-color: $color-content;
    &:hover{
        background-color: transparent;
    }
}

.c-btn--slim{
    padding-top: 4px;
    padding-bottom: 4px;
}
.c-btn--icon{
    font-size: 20px;
    width: 40px;
    height: 36px;
    text-align: center;
    padding: 0;
}