.c-card{
    @include e-card;
    display: flex;
    flex-wrap: wrap;
    padding: spacing("normal");
    width: 100%;
}
.c-card--title{
    flex-grow: 1;
    color: $color-title-subdued;
    font-weight: normal;
    font-size: 17px;
    margin-left: spacing();
}

.c-card--desc{
    font-size: 14px;
    width: 100%;
}

.c-card--no-desc{
    align-items: center;
    .c-card--title{
        margin-bottom: 0;
    }
}

.c-card--no-action{
    .c-card--desc{
        margin-top: 0;
    }
}