.c-card{
    @include e-card;
    display: flex;
    flex-wrap: wrap;
    padding: spacing("normal")/2 spacing("normal");
    width: 100%;
}
.c-card--title{
    flex-grow: 1;
    color: $color-title-subdued;
    font-weight: normal;
    font-size: 17px;
    margin-left: spacing();
}
.c-card--title, .c-card--action{
    margin-top: spacing("normal")/2;
    margin-bottom: spacing("normal")/2;
}

.c-card--desc{
    font-size: 14px;
    width: 100%;
}

.c-card--no-desc{
    align-items: center;
}

.c-card--no-action{
    .c-card--desc{
        margin-top: 0;
    }
}