.c-chart{
    @include e-card;
    width: 100%;
}
.c-chart--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 spacing("normal");
}
.c-chart--header--title{
    margin-left: auto;
}
.c-chart--date{
    font-size: 12px;
}
.c-chart--data{
    padding: spacing("small");
    --color-brand: #2541b2;
}