$sidebar-control-width: 35px;
$sidebar-icon-size: 20px;
$sidebar-logo-height: $sidebar-control-width;
$sidebar-normal-padding: spacing("small");
$sidebar-dense-padding: spacing();
$shift: $sidebar-normal-padding - $sidebar-dense-padding;
$dense-width: $sidebar-control-width + ($sidebar-dense-padding * 2) + $shift;
.c-sidebar{
    width: $layout-sidebar;
    height: 100vh;
    padding: spacing("wide") $sidebar-normal-padding;
    background-color: $color-background;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}
.c-sidebar--backdrop{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $layout-sidebar;
    background-color:  rgba($color-blue-dark, 0.1);
    z-index: 10;
}
.c-sidebar--control{
    display: flex;
    width: $sidebar-control-width;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    position: relative;
}
.c-sidebar--icon{
    width: $sidebar-icon-size;
    height: $sidebar-icon-size;
    font-size: 16px;
    color: $color-dark;
    margin: spacing("extra-small") 0;
    display: block;
}
.c-sidebar--icon--large{
    width: $sidebar-control-width;
    height: $sidebar-control-width;
}
.c-sidebar--logo{
    margin: 0 0 spacing("normal") 0;
    svg{
        stroke: $color-brand;
    }
}
.c-sidebar--icon--bottom{
    margin-top:auto;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
.c-sidebar--menu{
    margin-right: spacing("small");
    position: relative;
    z-index: 20;
}
.c-sidebar--title{
    font-size: 24px;
    color: $color-dark;
    line-height: $sidebar-logo-height;
    margin: 0 0 spacing("normal") 0;
    a{
        color: inherit;
    }
}
.c-sidebar--link{
    font-family: $family-heading;
    color: $color-dark;
    display: flex;
    align-items: center;
    padding: spacing("extra-small") 0;
    line-height: $sidebar-icon-size;
    & .c-icon{
        margin-left: spacing("extra-small");
    }
}

//media responsive

@media(max-width :$bp-sidebar){
    .c-sidebar{
        overflow: hidden;
        width: $dense-width;
        padding-left: 0;
        transform: translateX($shift);
        transition:transform 200ms 200ms, width 0s 200ms, padding-left 0s 200ms;
    }
    .c-sidebar--backdrop{
        transform: scaleX(#{$dense-width / $layout-sidebar});
        transform-origin: 100% 0;
        transition: transform 200ms;
    }
    .c-sidebar--menu{
        opacity: 0;
        transition: opacity 200ms 0s;
    }
    .c-sidebar:hover{
        width: $layout-sidebar;
        overflow: visible;
        padding-left: $sidebar-normal-padding;
        transform: scaleX(1);
        transition-delay: 0;
        transition: transform 200ms;
        .c-sidebar--backdrop{
            transform: scaleX(1);
        }
        .c-sidebar--menu{
            opacity: 1;
            transition-delay: 200ms;
        }
    }
}