.c-textfield{
    display: flex;
    flex-flow: column;
    width: 100%;
}

.c-textfield--label{
    font-size: 15px;
    margin-bottom: spacing("extra-small");
}

.c-textfield--input, .c-textfield--textarea{
    width: 100%;
    height: 36px;
    padding: 8px 12px;
    margin-bottom: spacing("none");
    border-radius: 3px;
    border: 1px solid darken($color-white, 15%);
    box-shadow: inset 0 1px 2px 0 rgba( darken($color-primary,30%), 0.2);
    &:focus{
        outline: none;
        box-shadow: inset 0 1px 2px 0 rgba( darken($color-primary,30%), 0.2),
                    0 0 0 2px $color-primary;
    }
    &--left::placeholder{
        direction: rtl;
        text-align: left;
        padding-left: spacing("small");
    }
}

.c-textfield--textarea{
    height: 150px;
}

.c-textfield--note{
    color: $color-text-subdued;
    font-size: 13px;
}
